@import "../setting/sizes";

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: $lg) {
    padding: 0 10px;
  }
}

.main,
.info,
.offers,
.directions,
.blog,
.gallery,
.sub,
.footer,
.copyright {
  display: none;
}

.main
// .info,
// .offers,
// .directions,
// .blog,
// .gallery,
// .sub,
// .footer,
// .copyright
{
  display: block;
}
