@import "../setting/sizes";
.open {
  display: flex !important;
}
.header {
  padding-top: 16px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;

  &__menu {
    align-items: baseline;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 50px;
    @media (max-width: $lg) {
      display: block;
    }
  }
  &__nav {
    ul {
      display: grid;
      grid-template-columns: repeat(5, max-content);
      gap: 24px;
      // width: 100%;
      // display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    color: #fdfdfd;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    &:hover {
      transition: color 0.3s ease;
      color: #f2be22;
    }
  }
  &__btn {
    max-width: 157px;
    width: 100%;
    @media (max-width: $lg) {
      display: none;
    }
  }
}
