.subtitle {
  width: fit-content;
  color: #f2be22;
  font-family: Nunito Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}
.title {
  width: fit-content;
  color: #18121e;
  font-family: Nunito Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.text {
  width: fit-content;
  color: #18121e;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.text__container {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  justify-items: center;
}
