@import "../setting/sizes";
.main {
  background-image: url("./img/jpg/bg/1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  max-width: 1920px;
  width: 100%;
  @media (max-width: $lg) {
    background-size: cover;
    background-repeat: no-repeat;
    // background-image: url("./img/jpg/bg/2.jpg");

    height: auto;
  }

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  &__content {
    padding: 416px 0 82px;
    bottom: 0;
    left: 0;
    right: 0;
    @media (max-width: $lg) {
      padding: 300px 0 62px;
    }
  }

  &__title {
    font-family: NEXT ART;
    text-transform: uppercase;
    color: #fdfdfd;
    font-size: 50px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 1px;
    margin-bottom: 41px;
  }
}
