.sub {
  transform: translateY(50%);
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 64px;
    padding: 40px 100px;
    border-radius: 6px;
    background: #fdfdfd;
    box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
    @media (max-width: $lg) {
      grid-template-columns: unset;
      grid-template-rows: repeat(2, max-content);
      padding: 40px;
    }
  }
  &__text {
    max-width: 414px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    @media (max-width: $lg) {
      max-width: none;
      justify-content: center;
      justify-items: center;
      margin-bottom: 15px;
    }
    &__subtitle {
      font-size: 18px;
    }
  }
  &__input {
    max-width: 543px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    row-gap: 8px;
    @media (max-width: $lg) {
      max-width: none;
    }
    &__descr {
      color: #18121e;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 128%;
    }
  }
  &__form {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 16px;
    row-gap: 8px;
    max-width: 536px;
    @media (max-width: $lg) {
      max-width: none;
      grid-template-columns: repeat(2, 1fr);
    }

    &__title {
      color: #18121e;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
      grid-column: span 2;
    }
    &__input {
      border: none;
      max-width: 280px;
      width: 100%;
      padding: 0 16px;
      border-radius: 4px;
      background: #f3f5f4;
      @media (max-width: $lg) {
        max-width: none;
      }
    }
    &__btn {
      border: none;
      max-width: 240px;
      width: 100%;
      @media (max-width: $lg) {
        max-width: none;
      }
    }
  }
}
a.sub__input__descr__link {
  text-decoration: underline;
}
